<!-- フォローボタン ------------------------------------------------------------------>
#follower
  Follower:
  = @user.followers.count
#follow
  Follow:
  = @user.following.count
= form_for(current_user, url: relationships_path, method: :post, remote: true) do |form|
  = hidden_field_tag :following_id, user.id
  = form.submit "Follow"