= form_with(url: search_shoes_path, local: true, method: :get, class: "search-form") do |form|
  = form.select :keyword, ["NIKE", "adidas", "CONVERSE", "VANS", "NEW BARANCE"], {}, class: "search-input", placeholder: "NIKE"
  -# = form.text_field :keyword, placeholder: "Search Brand", class: "search-input"
  = form.submit "Search", class: "search-btn"
.contents.row
  - @shoes.each do |shoe|
    = render partial: "shoe", locals: { shoe: shoe }
  = paginate @shoes
