.contents.row
  .content_post{:style => "background-image: url(#{@shoe.image});"}
    - if user_signed_in? && current_user.id == @shoe.user_id
      .more
        %span= image_tag 'arrow_top.png'
        %ul.more_list
          %li
            = link_to '編集', edit_shoe_path(@shoe.id), method: :get
          %li
            = link_to '削除', shoe_path(@shoe.id), method: :delete
    -# %p
    -#   = @shoe.title
    %span.name
      = link_to "/users/#{@shoe.user.id}" do
        = @shoe.user.name
  - if current_user.already_favorited?(@shoe)
    = link_to shoe_favorites_path(@shoe), method: :delete do
      = icon('fas', 'heart')
      = @shoe.favorites.count
  - else
    = link_to shoe_favorites_path(@shoe), method: :post do
      = icon('far', 'heart')
      = @shoe.favorites.count
  = @shoe.text
  .container
    - if current_user
      = form_with(model: [@shoe, @comment], local: true, id: "new_comment") do |form|
        = form.text_area :text, placeholder: "Type a comment", rows: "2", class: "textbox"
        = form.submit "SEND", class: "form__submit"
    - else
      %strong
        %p
          ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
    .comments
      %h4
        Comments
      - if @comments
        - @comments.each do |comment|
          %p
            %strong
              = link_to "/users/#{comment.user_id}" do
                = comment.user.name 
            = comment.text